{% extends 'base.html'%}
{% load static %}
{% block title %} Services | NumDesk{% endblock %}
{% block content %}

<style>
	.wtcolor{
		color: white;
	}
	.wtfont{
		font-size: 20px;
	}
	.martop{
		margin-top: 100px;
	}
	
</style>
    
		<!-- Start .header-section -->
		<div id="home" class="header-section gradiant-background header-software header-flat">
			<div id="particles-js" class="particles-container"></div>
			<div class="header-content pt-90">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-8 col-md-offset-2">
							<div class="header-texts">
								<h1 class="cd-headline clip is-full-width wow fadeInUp" data-wow-duration=".5s">
									<span>What We Do </span>
									
								</h1>
								<p class="lead wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">We help enterprises from small fixes to massive transformations</p>
								<ul class="buttons">
									<li><a href="{% url 'NumDesk:contactus' %}" class="button button-border button-transparent wow fadeInUp nav-item" data-wow-duration=".5s" data-wow-delay=".9s">Get In Touch</a></li>
								</ul>
							</div>
						</div><!-- .col -->
					</div><!-- .row -->
				</div><!-- .container -->
			</div><!-- .header-content -->
		</div><!-- .header-section -->
		
		
		<!-- Start .overview-section  -->
		<div id="overview" class="overview-section grey-background flat-about">
			<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;); padding-bottom: 20px;" aria-label="breadcrumb">
				<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a href="{% url 'NumDesk:home' %}">Home</a></li>
				  <li class="breadcrumb-item active" aria-current="page">What We Do</li>
				</ol>
			  </nav>
			<div class="container tab-fix">
				<div class="row tab-center mobile-center ptm-0">
					<div class="col-md-7 col-md-offset-1 pull-right">
						<div class="txt-entry pt-10">
							<h2 class="heading">Odoo <span>Overview</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure.</p>
							<div class="txt-quote">
								<blockquote>“Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation quis nostrud exercitation ullamco laboris nisi.”</blockquote>
								<span class="quote-title">Donna Bates, Culture Specialist</span>
							</div>
						</div>
					</div><!-- .col -->
					<div class="col-md-4 pull-left">
						<div class="browser-screen browser-expanded features-scrreen">
							<img src="{% static 'images/overview.jpg' %}" alt="software">
						</div>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .overview-section  -->
		
		
		<!-- Start Section  -->
		<div id="software" class="steps-section pt-120 pb-30 pbm-0 gradiant-background martop">
			<div>
				<div class="row tab-center mobile-center row-vm reverses">
					<div class="col-md-6 col-md-offset-1">
						<div class="features-scrreen">
							<img src="{% static 'images/software.png' %}" alt="software">
						</div>
					</div><!-- .col -->
					<div class="col-md-6 col-md-offset-1">
						<div class="txt-entry txt-feature">
							<h2 class="wtcolor">Software & Web Development</h2><hr>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 single-features">
										<em class="fa fa-phone-laptop"></em>
									</div>
									<div class="col-md-10 single-features">
										<h4 class="wtcolor wtfont">Softwares</h4>
										<ul style="list-style-type: none;">
											<li class="wtcolor">ERP Business Suite</li>
											<li class="wtcolor">Ecommerce</li>
											<li class="wtcolor">Point of sale</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 single-features">
										<em class="fa fa-laptop-code"></em>
									</div>
									<div class="col-md-10 single-features">
										<h4 class="wtcolor wtfont">Development</h4>
										<ul>
											<li class="wtcolor">Industry Specific Bespoke Softwares</li>
											<li class="wtcolor">Product Enhancement i.e.</li>
											<li class="wtcolor">Integration, Add-Ons</li>
											<li class="wtcolor">Web Applications</li>
										</ul>
									</div>
								</div>
								
							</div>						
						</div>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .container  -->
		</div><!-- End Section  -->
		
		
		<!-- Start Section  -->
		<div id="database" class="steps-section pb-30 pt-90 pbm-0 white-bg">
				<div class="row tab-center mobile-center row-vm">
					<div class="col-md-6 col-md-offset-1">
						<div class="features-scrreen">
							<img src="{% static 'images/databaseservice.jpg' %}" alt="software">
						</div>
					</div><!-- .col -->
					<div class="col-md-6 col-md-offset-1">

						<h2>Database Managements</h2><hr>
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 single-features">
										<em class="fa fa-database"></em>
									</div>
									<div class="col-md-10 single-features">
										<h4 style="font-size: 18px; color:#666;">Architecture & Administration</h4>
										<ul>
											<li>Performance and Backup Planning</li>
											<li>Support & Maintenance</li>
										</ul>
									</div>
								</div>
								
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 single-features">
										<em class="fa fa-database"></em>
									</div>
									<div class="col-md-10 single-features">
										<h4 style="font-size: 18px; color:#666;">Architecture & Administration</h4>
										<ul>
											<li>Performance and Backup Planning</li>
											<li>Support & Maintenance</li>
										</ul>
									</div>
								</div>
								
							</div>
						</div>

						
					</div><!-- .col -->
				</div><!-- .row -->
		</div><!-- End Section  -->
		
		
		<!-- Start Section  -->
		<div id="techtool" class="steps-section pt-90 pb-120 gradiant-background martop">
				<div class="row tab-center mobile-center row-vm reverses">
					<div class="col-md-6 col-md-offset-1">
						<div class="features-scrreen">
							<img src="{% static 'images/technology.jpg' %}" alt="software">
						</div>
					</div><!-- .col -->
					<div class="col-md-6 col-md-offset-1">

						<h2 class="wtcolor">Technologies & Tools</h2><hr>
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 single-features">
										<div class="icon-left"><img style="width: 27px;" src="{% static 'images/Corporate Legal Compliance.svg' %}" alt="">
                                        </div>
									</div>
									<div class="col-md-10 single-features">
										<h4 style="font-size: 18px;" class="wtcolor">Tools</h4>
										<ul>
											<li class="wtcolor">Odoo ERP & CRM </li>
											<li class="wtcolor">PostgreSQL</li>
											<li class="wtcolor">MySQL, SQL Server</li>
										</ul>
									</div>
								</div>
								
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 single-features">
										<em class="fa fa-users"></em>
									</div>
									<div class="col-md-10 single-features">
										<h4 style="font-size: 18px;" class="wtcolor">Technologies</h4>
										<ul>
											<li class="wtcolor">HTML/CSS, JavaScript</li>
											<li class="wtcolor">Python, PHP, ASP.NET</li>
										</ul>
									</div>
								</div>
								</div>
								
							</div>
						</div>

						
					</div><!-- .col -->
				</div><!-- .row -->
		</div><!-- End Section  -->

		<!-- Start Section  -->
		<div id="consulting" class="steps-section pb-30 pt-90 pbm-0 white-bg">
			
				<div class="row tab-center mobile-center row-vm">
					<div class="col-md-6 col-md-offset-1">
						<div class="features-scrreen">
							<img src="{% static 'images/consulting.jpg' %}" alt="software">
						</div>
					</div><!-- .col -->
					<div class="col-md-6 col-md-offset-1">

						<h2>Consulting</h2><hr>
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 single-features">
										<em class="fa fa-business-time"></em>
									</div>
									<div class="col-md-10 single-features">
										<h4 style="font-size: 18px; color:#666;">Corporate Legal Compliance</h4>
										<ul>
											<li>Taxation</li>
											<li>Corporate Law i.e. SECP</li>
										</ul>
									</div>
								</div>
								
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 single-features">
										<em class="fa fa-cogs"></em>
									</div>
									<div class="col-md-10 single-features">
										<h4 style="font-size: 18px; color:#666;">International Financial Reporting Standards (IFRS)</h4>
										<ul>
											<li>IFRS Implementation</li>
											<li>IFRS Advisory & Consultancy</li>
										</ul>
									</div>
								</div>
								
							</div>
						</div>

						
					</div><!-- .col -->
				</div><!-- .row -->
			
		</div><!-- End Section  -->

		<!-- Start Section  -->
		<div id="accounting" class="steps-section pt-90 pb-120 gradiant-background martop">
			<div class="row tab-center mobile-center row-vm reverses">
				<div class="col-md-6 col-md-offset-1">
					<div class="features-scrreen">
						<img src="{% static 'images/accounting.jpg' %}" alt="software">
					</div>
				</div><!-- .col -->
				<div class="col-md-6 col-md-offset-1">

					<h2 class="wtcolor">Accounting</h2><hr>
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-2 single-features">
									<em class="fa fa-file-invoice"></em>
								</div>
								<div class="col-md-10 single-features">
									<h4 class="wtcolor wtfont">Bookkeeping</h4>
									<ul>
										<li class="wtcolor">Procure to pay (P2P) </li>
										<li class="wtcolor">Quote to Cash (Q2C)</li>
										<li class="wtcolor">Payroll Accounting</li>
										<li class="wtcolor">Fixed Assets</li>
									</ul>
								</div>
							</div>
							
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-2 single-features">
									<div class="icon-left"><img style="width: 27px;" src="{% static 'images/Financial Reporting.svg' %}" alt=""></div>
								</div>
								<div class="col-md-10 single-features">
									<h4 class="wtcolor wtfont">Financial Reporting</h4>
									<ul>
										<li class="wtcolor">Financial Statements</li>
										<li class="wtcolor">Partner Reports</li>
										<li class="wtcolor">Generic Reports</li>
									</ul>
								</div>
							</div>
							</div>
							
						</div>
					</div>

					
				</div><!-- .col -->
			</div><!-- .row -->
	</div><!-- End Section  -->

			<!-- Start Section  -->
			<div id="outsourced" class="steps-section pb-30 pt-90 pbm-0 white-bg">
			
				<div class="row tab-center mobile-center row-vm">
					<div class="col-md-6 col-md-offset-1">
						<div class="features-scrreen">
							<img src="{% static 'images/aboutcovertwo.jpg' %}" alt="software">
						</div>
					</div><!-- .col -->
					<div class="col-md-6 col-md-offset-1">

						<h2>Outsourced</h2><hr>
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 single-features">
										<em class="fa fa-business-time"></em>
									</div>
									<div class="col-md-10 single-features">
										<h4 style="font-size: 18px; color:#666;">Business Process Outsourcing</h4>
										<ul>
											<li>Accounting and Bookkeeping</li>
											<li>Human Resource and Payroll</li>
											<li>Internal Audit</li>
										</ul>
									</div>
								</div>
								
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2 single-features">
										<em class="fa fa-cogs"></em>
									</div>
									<div class="col-md-10 single-features">
										<h4 style="font-size: 18px; color:#666;">Technical Services</h4>
										<ul>
											<li>Software Development</li>
											<li>ERP Implementation, Support & Maintenance</li>
										</ul>
									</div>
								</div>
								
							</div>
						</div>

						
					</div><!-- .col -->
				</div><!-- .row -->
			
		</div><!-- End Section  -->
		
		
		<!-- Start .get-section  -->
		<div id="getapp" class="getapp-section gradiant-background">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="download-form pt-60 pb-40 pbm-0">
							<div class="heading-light">
								<h2 class="heading heading-light">Get In Touch</h2>
								<p style="color: white;">Feel free to contact us so that we can bring ideas into execution.</p>
							</div>
							<a href="{% url 'NumDesk:contactus' %}" class="button solid-btn sb-h">Get In Touch</a>
						</div>
					</div><!-- .col  -->
					<div class="col-md-5 col-md-offset-1 pt-120 features-scrreen">
						<div class="browser-screen">
							<img src="{% static 'images/aboutcovertwo.jpg' %}" height="200px" width="400px" alt="software">
						</div>
					</div><!-- .col  -->
				</div><!-- .row  -->
			</div><!-- .container  -->
		</div><!-- .contact-section  -->


		{% endblock %}